.my-calendar {
  // 按鈕初始化
  .fc .btn {
    --bs-btn-bg: var(--neutral);
    --bs-btn-border-color: transparent;
    --bs-btn-color: var(--secondary-500);

    --bs-btn-hover-bg: var(--secondary-700);
    --bs-btn-hover-color: var(--neutral);

    --bs-btn-active-bg: var(--secondary-900);
    --bs-btn-hover-color: var(--neutral);
  }

  // 月 + 週 + 日 + 待辦事項 按鈕
  .fc-toolbar-chunk:last-child {
    .btn-group {
      border: 2px solid var(--secondary-500);
    }
  }

  .fc-prev-button,
  .fc-next-button {
    font-weight: 700;
  }
}

.price-slider {
  /* slider 主軸 */
  .noUi-connect {
    background: var(--primary-500);
  }
  /* 背景 */
  .noUi-target {   
    border-radius: 10px;
    border: none;
    height: 8px;
  }
 

  /* handle（左右按鈕） */
  .noUi-handle {
    width: 24px;
    height: 24px;
    border-radius: 50%; /* 改圓形 */
    background: var(--neutral);
    border: 1px solid var(--primary-100);    
    cursor: pointer;

  }
  /* 移除原本線條 */
  .noUi-handle::before,
  .noUi-handle::after {
    display: none;
  }
}

/* 價格框 */
.price-box {   
  
  font-weight: 500;
  min-width: 100px;
  text-align: center;
}

@media (max-width: 768px) {
  .my-calendar {
    /* =========================
       保持 toolbar flex
       ========================= */
    .fc-toolbar {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

    /* =========================
       第一行：prev + title + next
       ========================= */

    .fc-toolbar-chunk:nth-child(1) {
      flex: 0 0 auto;
    }

    .fc-toolbar-chunk:nth-child(2) {
      flex: 1;
      display: flex;
      justify-content: end;
    }

    .fc-toolbar-chunk:nth-child(3) {
      flex: 0 0 auto;
    }

    /* space-between */
    .fc-toolbar-chunk:nth-child(1),
    .fc-toolbar-chunk:nth-child(3) {
      display: flex;
    }

    /* =========================
       第二行：view buttons
       ========================= */
    .fc-toolbar-chunk:nth-child(4),
    .fc-toolbar-chunk:nth-child(3) {
      width: 100%;
    }

    /* ⚠️ FullCalendar bootstrap5 plugin 會把 buttons 放 right chunk */
    .fc-toolbar-chunk:last-child {
      flex: 0 0 100%;
      display: flex;
      justify-content: center;
      margin-top: 8px;
    }

    .fc-toolbar-chunk:last-child .fc-button-group {
      width: 100%;
      display: flex;
    }

    .fc-toolbar-chunk:last-child .fc-button {
      flex: 1;
    }
  }
}
