//文字省略
@mixin line-clamp($lines: 1) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  
  // 專業細節：補上高度限制，防止在部分舊瀏覽器破版 
  max-height: calc(1.5em * #{$lines}); 
}
.text-line-clamp-1 { @include line-clamp(1); }
.text-line-clamp-2 { @include line-clamp(2); }

//--## 卡片設定//
.custom-servicard-box-sm{
  max-width: 65vw;
  @include rwd-up(md) {
    max-width: 100%;
  }
}
.custom-workercard-box{
  max-width: 68vw;
  @include rwd-up(md) {
    max-width: 100%;
  }
}
.custom-servicard-deco{
  cursor: pointer;
  border-radius: 0.75rem;
  background-clip: padding-box;
  @include rwd-up(md) {
    border-radius: 1.7rem; // 24px
    border: 3px solid transparent;
    &:hover{
      border-color:map-get($custom-colors, "primary-300");
    }
  }
  box-shadow: 7.5px 8.65px 11.54px rgba(0, 0, 0, 0.04);
  @include rwd-up(md) {
    box-shadow: 13px 15px 20px rgba(0, 0, 0, 0.04);
  }
  img{
   border-radius: 0.75rem 0.75rem 0 0;
    @include rwd-up(md) {
      border-radius: 1.5rem 1.5rem 0 0; // 24px
    }
  }
}
.custom-servicard-icon{
  svg { 
  width: 1rem;  // 手機版 (16px)
  height: 1rem;

  @include rwd-up(md) {
    width: 1.25rem; // 桌機版 (20px)
    height: 1.25rem;
  }
}
}
//--### tag的白漸層遮罩
.custom-servicard-tasktag-cover{
  position: relative;
  overflow: hidden;
  margin-right: -1.5rem;
  @include rwd-up(lg){
    margin-right: -2.25rem;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 48px;
    height: 100%;
    z-index: 2;
    pointer-events: none; // 確保可以點擊到下方的標籤
    
    // 漸層設定：右往左 (to left)
    // 0% - 30% 是純白，30% - 100% 漸變到透明
    background: linear-gradient(
      to left,
      rgb(255, 255, 255) 0%,
      rgba(255, 255, 255, 1) 30%,
      rgba(255, 255, 255, 0) 100%
    );
  }
}
.custom-card-shadow{
  padding-bottom: 30px;
  margin-bottom: -30px;
}

//--### 接案者卡片的輪播設定
.worker-swiper-container {
  // 這裡決定了輪播區的溢出表現
  position: relative;
  
  .worker-swiper {
    overflow: visible !important; // 讓陰影跑出來
    clip-path: inset(-50px -100vw -80px 0px); // 防止左側溢出但允許右側延伸
  }
}

.worker-slide {
  width: 65vw; // 手機版寬度
  padding-bottom: 40px; // 給陰影空間

  @include rwd-up(md) {
    width: 100%; // 桌面版交由 Swiper slidesPerView: 2 計算
    padding-bottom: 0;
  }
}

