@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";

// 自定義變數
@import "./custom-colors";
@import "./custom-text";

@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";

// 自定義變數
@import "./custom-spacers";

@import "bootstrap/scss/utilities";

@import "./custom-utilities";

@import "bootstrap/scss/utilities/api";
@import "bootstrap/scss/bootstrap";

// 自定義變數
@import "./custom-home";
@import "./custom-header";